.slide {
	width: 100vw;
	height: 100vh;
	margin: 0;
	overflow: hidden;

}
img {

	height: 400px;
	margin: auto;
	display: block;
}

blockquote a {
	float: right;
	font-size: .8em;
	position: relative;
	top: 30px;
}

blockquote:after {
	content: "";
	clear: right;
}

code {
	white-space: pre;
}
